<div class="container">
  <div class="row ">
      <div class="offset-lg-2 col-lg-4 col-12 mt-5 ">
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
              <card-app
              [nombre]="'Johnny Lawrence'"
              [descripcion]="'“No importa que seas un perdedor, un nerd o un fenómeno. 
              Lo único que importa es que te vuelvas rudo”'"
              [sourceImage]="'../assets/Jonathan Lowrie.png'"
              ></card-app>
          </div>
          
          <div class=" col-12 d-flex justify-content-center mt-3">
              <comentario-app></comentario-app>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-5  ">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <card-app
                [nombre]="'Daniel LaRusso'"
                [descripcion]="'“Cuando las sensaciones negativas te abruman, debes buscar lo bueno dentro de ti”'"
                [sourceImage]="'../assets/David Larousse.png'"
                >
                </card-app>
            </div>
            
            <div class=" col-12 d-flex justify-content-center mt-4">
              <comentario-app></comentario-app>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-5">
          <a href="#form" id="votar" type="button" 
          class="btn btn-dark btn-lg btn-block"
          (click)="showForm()"
          >VOTAR</a>
      </div>
      <div class="col-12 d-flex justify-content-center mt-5" *ngIf="form">
            <form-app></form-app>
      </div>
  </div>

</div>