body{
    background-image:  url(/assets/banner.jpg);
    
}

@media only screen and (min-device-width: 500px) {
    body {
        background-image:  url(/assets/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
  }

.card-title{
    color:yellow
}